#titulo-formulario{
    margin-top: 60px;
}

#button-back {
    position: relative;
    left: 200px;
    bottom: 80px;
    width: 65px;
    height: 35px;
}

.navbarbuttons{
    left: 250px;
}

#login {
    width: 300px;
}

#password {
    width: 300px;
}

#button-enter{
    margin-top: 16px;
    width: 300px;
    height: 40px;
}

#image-login{
    margin-bottom: 30px;
    width: 100px;
    margin-right: 245px;
}

.centralizado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .centralizado > * {
    animation: 1s ease-out 0s 1 slideInFromBottom;
  }

#titulo-login{
    margin-bottom: 40px;
    font-size: 40px;
    margin-right: 60px;
}

#copyright{
    margin-top: 10px;
    margin-right: 200px;
}

.card-container {
    margin-top: 190px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#button-criar-pacientes, #button-criar-usuarios, #button-editar-pacientes, #button-editar-usuarios{
    margin-top: 25px;
}